layout {

    focus-ring {
        active-color   "#8ad88e"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#8ad88e"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#8ad88e"
        inactive-color "#00531c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#8ad88e80"
    }
}

recent-windows {
    highlight {
        active-color "#8ad88e"
        urgent-color "#ffb4ab"
    }
}
