/* CSS variables for swaync

    @import url("colors.css");

*/

/* Tokyo Night Colors */
@define-color bg #1a1b26;
@define-color fg #c0caf5;
@define-color black #414868;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan #7dcfff;
@define-color white #a9b1d6;
@define-color orange #ff9e64;
@define-color purple #9d7cd8;
@define-color teal #1abc9c;

/* Opacity variants for the bar and tooltips */
@define-color bg-opacity rgba(26, 27, 38, 0.85);
@define-color surface #24283b;
@define-color selection #33467c;
