set -g fish_color_normal a9b1d6
set -g fish_color_command 7aa2f7
set -g fish_color_param 9ece6a
set -g fish_color_keyword bb9af7
set -g fish_color_quote e0af68
set -g fish_color_redirection f7768e
set -g fish_color_end ff9e64
set -g fish_color_error f7768e
set -g fish_color_autosuggestion 565f89

# Add scripts to PATH
set -gx PATH $HOME/.local/bin $PATH